<div class="p-10 w-full flex flex-col items-center justify-center gap-10">
  <!-- Title -->
   <div class="w-full h-full flex flex-col items-start justify-center">
    <p class="text-[38px] font-bold ">Monitoring</p>
      <p class="text-[16px] font-medium text-[#7B7B7B] flex items-center justify-center gap-2">
        Monitor the Robot Actions
        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_513_29001)">
          <path d="M12.4987 2.08301C6.75495 2.08301 2.08203 6.75592 2.08203 12.4997C2.08203 18.2434 6.75495 22.9163 12.4987 22.9163C18.2424 22.9163 22.9154 18.2434 22.9154 12.4997C22.9154 6.75592 18.2424 2.08301 12.4987 2.08301ZM13.5404 17.708H11.457V11.458H13.5404V17.708ZM13.5404 9.37467H11.457V7.29134H13.5404V9.37467Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_513_29001">
          <rect width="25" height="25" fill="white"/>
          </clipPath>
          </defs>
          </svg>
      </p>

   </div>

   <div class="grid grid-cols-3 2xl:grid-cols-4 md:grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 items-center justify-center gap-10">
    @for (options of optionsCard; track options) {
      <a routerLink='{{options.path}}' routerLinkActive="active" >
        <div class="w-full h-[200px] rounded-[13px] bg-[#f3f3f3] shadow-lg hover:shadow-2xl flex relative hover:scale-105 hover:duration-300 duration-200">
          <!-- Icon Section -->
          <div class="w-[40%] h-full flex items-center justify-center bg-black bg-opacity-25 rounded-bl-[13px] rounded-tl-[13px]" [(innerHTML)]='options.iconComp'></div>
          <!-- Text Section -->
          <div class="w-[60%] h-full px-5 py-10 flex flex-col justify-start gap-2 items-start">
            <p class="text-[25px] font-bold">{{options.nameTag}}</p>
            <p class="text-wrap text-[14px] text-[#7B7B7B] indent-4">{{options.desc}}</p>
          </div>

          <svg class="absolute bottom-8 right-8" width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.6735 7.98082H0.542969V10.4645H16.6735L11.8941 15.4321L13.6864 17.295L21.453 9.22262L13.6864 1.15039L11.8941 3.01324L16.6735 7.98082Z" fill="#D30000" stroke="#D30000" stroke-width="0.949681"/>
            </svg>
        </div>
      </a>
    }
   </div>
</div>

