<div class=" w-full flex flex-col pr-10 pt-10 pl-10 items-center justify-center gap-10">
  <!-- Title and Button -->
  <div class="flex w-full items-center justify-between">
    <!-- Title -->
    <span class="flex flex-col items-start justify-center">
      <p class="text-[38px] font-bold ">User Management</p>
      <p class="text-[16px] font-medium text-[#7B7B7B] flex items-center justify-center gap-2">
        Create and Manage User
        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_513_29001)">
          <path d="M12.4987 2.08301C6.75495 2.08301 2.08203 6.75592 2.08203 12.4997C2.08203 18.2434 6.75495 22.9163 12.4987 22.9163C18.2424 22.9163 22.9154 18.2434 22.9154 12.4997C22.9154 6.75592 18.2424 2.08301 12.4987 2.08301ZM13.5404 17.708H11.457V11.458H13.5404V17.708ZM13.5404 9.37467H11.457V7.29134H13.5404V9.37467Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_513_29001">
          <rect width="25" height="25" fill="white"/>
          </clipPath>
          </defs>
          </svg>
      </p>
    </span>
    <!-- Button -->
    <span (click)="userCreatePopUpOpen()">
      <button class="px-10 py-3 text-[14px] rounded-md bg-[#D30000] font-semibold text-white">Create User</button>
    </span>
  </div>
  <!-- Table -->
  <div class="flex flex-col items-center justify-start gap-3 w-full">
    <!-- Table Title -->
    <span class="w-full h-[55px] text-[14px] text-white font-semibold rounded-[6px] bg-black flex items-center justify-between px-20">
      <span class="w-[30%] text-[14px] flex items-center justify-between">
        <p class=" text-[14px] flex items-center justify-start w-full">Name</p>
      </span>
      <span class="flex text-[14px] w-[80%] items-center justify-between">
        <p class="w-full text-[14px] flex items-center justify-start">User Type</p>
        <p class="w-full text-[14px] flex items-center justify-start">Created By</p>
        <p class="w-full text-[14px] flex items-center justify-start">Created on</p>
        <p class="w-full text-[14px] flex items-center justify-center">Options</p>
      </span>
    </span>
    <!-- Table Rows -->
    <span class="flex flex-col w-full items-center justify-start gap-[5px] overflow-scroll scroll-smooth scrollCSS MinimalScrollCSS h-[450px] px-[6px] pb-3 ">
      @if(userCredentials.length === 0){<p class="flex items-center py-5 text-[14px] text-[#9e9e9e]">- No data Found -</p>}
      @if(userCredentials.length != 0) {
        @for (user of userCredentials; track user) {
          <span class="w-full twoColors py-4 hover:shadow-[0_0_10px_#00000060] hover:duration-300 text-[14px] text-black font-medium rounded-[6px] duration-300 flex items-center justify-between px-20">
            <span class="w-[30%] flex items-center justify-between">
              <p class="flex text-[14px] items-center justify-start capitalize w-full">{{user!.userName}}</p>
            </span>
            <span class="flex text-[14px] w-[80%] items-center justify-between">
              <p class="w-full text-[14px] flex items-center justify-start ">{{user!.userRole}}</p>
              <p class="w-full text-[14px] flex items-center justify-start capitalize">{{user!.createdBy}}</p>
              <p class="w-full text-[14px] flex items-center justify-start ">{{user!.createdOn}}</p>

              <span class="flex gap-5 items-center justify-center w-full">
                <svg (click)="userPermissionPopUpOpen(user!.userName)" class="cursor-pointer" width="29" height="31" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1418_29078)">
                  <path d="M6.17578 20.4475V23.9807H9.70898L20.1296 13.5601L16.5964 10.0269L6.17578 20.4475ZM22.8619 10.8278C22.9493 10.7406 23.0186 10.6371 23.0658 10.5231C23.1131 10.4091 23.1375 10.2869 23.1375 10.1635C23.1375 10.0401 23.1131 9.91796 23.0658 9.80398C23.0186 9.69 22.9493 9.58646 22.8619 9.4993L20.6572 7.29458C20.57 7.20724 20.4665 7.13794 20.3525 7.09066C20.2385 7.04338 20.1164 7.01904 19.993 7.01904C19.8696 7.01904 19.7474 7.04338 19.6334 7.09066C19.5194 7.13794 19.4159 7.20724 19.3287 7.29458L17.6045 9.01878L21.1377 12.552L22.8619 10.8278Z" fill="black"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_1418_29078">
                  <rect width="22.6125" height="22.6125" fill="white" transform="translate(3.35156 4.19385)"/>
                  </clipPath>
                  </defs>
                </svg>

                <svg (click)="getDeleteUser(user!.userName, user!.userRole)"  class="cursor-pointer" width="28" height="28" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.25 5.75H11C11.1375 5.75 11.25 5.6375 11.25 5.5V5.75H20.75V5.5C20.75 5.6375 20.8625 5.75 21 5.75H20.75V8H23V5.5C23 4.39688 22.1031 3.5 21 3.5H11C9.89687 3.5 9 4.39688 9 5.5V8H11.25V5.75ZM27 8H5C4.44687 8 4 8.44688 4 9V10C4 10.1375 4.1125 10.25 4.25 10.25H6.1375L6.90938 26.5938C6.95938 27.6594 7.84063 28.5 8.90625 28.5H23.0938C24.1625 28.5 25.0406 27.6625 25.0906 26.5938L25.8625 10.25H27.75C27.8875 10.25 28 10.1375 28 10V9C28 8.44688 27.5531 8 27 8ZM22.8531 26.25H9.14688L8.39062 10.25H23.6094L22.8531 26.25Z" fill="black"/>
                </svg>

              </span>

            </span>
          </span>
        }
      }
    </span>
  </div>
</div>


<!-- Create User Popup -->
<div [ngClass]="{'hidden': !userCreatePopUp}" class="absolute flex items-center justify-center w-screen box-border h-screen bg-[#000000] bg-opacity-90 bg-blur top-0 left-0 z-50">
  <div class="popup w-[700px] py-10 bg-[#D9D9D9]">
    <!-- Title -->
    <span class="flex flex-col items-start justify-center">
      <p class=" text-[35px] text-black font-bold">Create User</p>
      <p class=" flex items-center justify-center gap-2 text-[14px] font-medium text-[#7B7B7B]">
        Create an New User
        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_513_29001)">
          <path d="M12.4987 2.08301C6.75495 2.08301 2.08203 6.75592 2.08203 12.4997C2.08203 18.2434 6.75495 22.9163 12.4987 22.9163C18.2424 22.9163 22.9154 18.2434 22.9154 12.4997C22.9154 6.75592 18.2424 2.08301 12.4987 2.08301ZM13.5404 17.708H11.457V11.458H13.5404V17.708ZM13.5404 9.37467H11.457V7.29134H13.5404V9.37467Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_513_29001">
          <rect width="25" height="25" fill="white"/>
          </clipPath>
          </defs>
        </svg>
      </p>
    </span>
    <!-- User Credentials Form -->
    <div class="w-full h-full flex flex-col items-start justify-start mt-10 gap-7">
      <!-- Username and UserRole -->
      <span class="w-full flex items-center justify-center gap-5">
        <input [(ngModel)] = "userName" type="text" placeholder="Username" class="w-full text-[15px] font-medium py-2 pt-5 px-5 outline-none bg-transparent border-b-2 border-black">
        <!-- DropDown -->
        <span class="relative w-[30%] flex px-4 py-3 items-center justify-between gap-5" (click)="userRoleChange()">
          <p class="font-semibold capitalize text-[14px]">{{userRole}}</p>
          <svg [ngClass]="{'rotateArrow': userRoleOCstate}" class="duration-300 shadow" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.00007 12.3125L0 5.42194L2.33335 3.125L7.00007 7.71879L11.6667 3.125L14 5.42194L7.00007 12.3125Z" fill="black"/>
            </svg>

            <!-- DropDown Options -->
          @if (userRoleOCstate) {
            <span class="absolute enterAnimation bg-white top-[100%] z-50 w-full px-2 py-3 rounded-sm flex flex-col items-center justify-center gap-3">
              @for (user of userRoleCredentials; track user) {
                <p class="w-full font-semibold text-[14px] capitalize hover:bg-[#a3a3a3] p-2 rounded-md cursor-pointer pl-2" (click)="changeUserRole(user.order)">{{user.userRole}}</p>
              }
            </span>
          }
        </span>
      </span>
      <!-- Password and Confrim password with show password button -->
      <span class="w-full flex-col relative flex items-start justify-between gap-3">
        <span class="w-full flex gap-10 items-center justify-center">
          <span class="w-full relative flex items-center justify-end">
            <input [(ngModel)] = "passWord" type="{{passwordType}}" placeholder="Password" class="bg-transparent w-full font-medium text-[15px] py-2 pt-5 px-5 outline-none border-b-2 border-black">
            <p class="absolute text-[10px] right-2 bottom-3 w-14 flex items-center justify-center py-1 rounded-[2px] cursor-pointer" (click)="showPassword()">{{passwordView}}</p>
          </span>

          <span class="w-full relative flex items-center justify-end">
            <input [(ngModel)] = "confrimPassword" type="{{confrimPasswordType}}" placeholder="Confrim Password" class="bg-transparent w-full font-medium text-[15px] py-2 pt-5 px-5 outline-none border-b-2 border-black">
            <p class="absolute text-[10px] right-2 bottom-3 w-14 flex items-center justify-center py-1 rounded-[2px] cursor-pointer" (click)="showConfrimPassword()">{{confrimPasswordView}}</p>
          </span>
        </span>
        <p class="absolute top-[calc(100%+5px)] text-red-500">{{errorMessage}}</p>
      </span>

      <div class="flex gap-7 mt-10">
        <button (click)="createUser()" class="w-[120px] py-[8px] rounded-md bg-[#D30000] text-[14px] text-white font-semibold">Create User</button>
        <button (click)="userCreatePopUpOpen()" class="w-[120px] py-[8px] rounded-md border-2 border-[#D30000] text-[14px] text-[#D30000] font-semibold">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- User Permission Popup -->
 <div [ngClass]="{'hidden': !userPermissionOCstate}" class="absolute flex items-center justify-center w-screen box-border h-screen bg-[#000000] bg-opacity-90 bg-blur top-0 left-0 z-50">
    <div class="w-[800px] py-14 bg-[#D9D9D9] rounded-[20px] px-14 flex gap-10 flex-col">
      <!-- Title and Close Button -->
      <span class="flex items-center justify-between w-full">
        <span class="flex flex-col items-start justify-center">
          <p class="text-[38px] font-bold">User Permission</p>
          <p class="flex items-center text-[14px] justify-between gap-2 text-[#7B7B7B] font-medium">
            Edit the user permission
            <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_513_29001)">
              <path d="M12.4987 2.08301C6.75495 2.08301 2.08203 6.75592 2.08203 12.4997C2.08203 18.2434 6.75495 22.9163 12.4987 22.9163C18.2424 22.9163 22.9154 18.2434 22.9154 12.4997C22.9154 6.75592 18.2424 2.08301 12.4987 2.08301ZM13.5404 17.708H11.457V11.458H13.5404V17.708ZM13.5404 9.37467H11.457V7.29134H13.5404V9.37467Z" fill="black"/>
              </g>
              <defs>
              <clipPath id="clip0_513_29001">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
              </svg>
          </p>
        </span>
        <svg (click)="userPermissionPopUpClose()"  class="cursor-pointer p-1 bg-transparent hover:drop-shadow-lg" width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.5625 9.00739L26.0551 6.5L17.7812 14.7739L9.50739 6.5L7 9.00739L15.2739 17.2812L7 25.5551L9.50739 28.0625L17.7812 19.7886L26.0551 28.0625L28.5625 25.5551L20.2886 17.2812L28.5625 9.00739Z" fill="#D30000"/>
          </svg>
      </span>

      <span class="flex flex-col items-start justify-center gap-3 w-full">
        @for (permission of userPermissionOptions; track permission) {
          <span class="w-full flex flex-col border-b-2 pb-5 gap-3 text-[#535353]">
            <span class="flex gap-3 items-center">
              <p class="flex text-[20px] font-semibold text-black">{{permission.nameTag}}</p>
            </span>
            <span class="grid grid-cols-5 w-full font-medium text-[14px] items-center">
              <span class="w-full flex items-center justify-start gap-3">
                <span [ngClass]="{'bg-[#D30000]': userPermissionState[permission.order][permission.isAvail]}" class="w-5 rounded-full h-5 border-2 border-black" (click)="changeUserPermission(permission.order, permission.isAvail)"></span>
                <p class="text-[15px] font-medium">ENABLE</p>
              </span>

              <span class="w-full flex items-center justify-start gap-3">
                <span [ngClass]="{'bg-[#D30000]': userPermissionState[permission.order][permission.create]}" class="w-5 h-5 rounded-full border-2 border-black" (click)="changeUserPermission(permission.order, permission.create)"></span>
                <p class="text-[15px] font-medium">CREATE</p>
              </span>

              <span class="w-full flex items-center justify-start gap-3">
                <span [ngClass]="{'bg-[#D30000]': userPermissionState[permission.order][permission.edit]}" class="w-5 h-5 rounded-full border-2 border-black" (click)="changeUserPermission(permission.order, permission.edit)"></span>
                <p class="text-[15px] font-medium">EDIT</p>
              </span>

              <span class="w-full flex items-center justify-start gap-3" >
                <span [ngClass]="{'bg-[#D30000]': userPermissionState[permission.order][permission.delete]}" class="w-5 h-5 rounded-full border-2 border-black" (click)="changeUserPermission(permission.order, permission.delete)"></span>
                <p class="text-[15px] font-medium">DELETE</p>
              </span>

              <span class="w-full flex items-center justify-start gap-3">
                <span [ngClass]="{'bg-[#D30000]': userPermissionState[permission.order][permission.view]}" class="w-5 h-5 rounded-full border-2 border-black" (click)="changeUserPermission(permission.order, permission.view)"></span>
                <p class="text-[15px] font-medium">VIEW</p>
              </span>
            </span>
          </span>
        }
      </span>

      <span>
        <button class="px-10 py-3 bg-[#D30000] rounded-md text-white font-semibold text-[14px]" (click)="saveEditPermission()">Edit Permission</button>
      </span>
    </div>
 </div>


 <!-- Delete User Permission -->
 <div [ngClass]="{'hidden': !deleteUserOCstate}" class="absolute flex items-center justify-center w-screen box-border h-screen bg-[#000000] bg-opacity-90 bg-blur top-0 left-0 z-50">
  <div class="w-[600px] bg-white flex flex-col gap-5 rounded-[20px] shadow-[0_0_100px_#00000060] border-l-[22px] border-[#D30000] p-10">
     <!-- Title -->
     <span class="flex flex-col items-start justify-center">
      <p class=" text-[35px] text-black font-bold">Delete</p>
      <p class=" flex items-center justify-center gap-2 text-[14px] font-medium text-[#7B7B7B]">
        Delete an user
        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_513_29001)">
          <path d="M12.4987 2.08301C6.75495 2.08301 2.08203 6.75592 2.08203 12.4997C2.08203 18.2434 6.75495 22.9163 12.4987 22.9163C18.2424 22.9163 22.9154 18.2434 22.9154 12.4997C22.9154 6.75592 18.2424 2.08301 12.4987 2.08301ZM13.5404 17.708H11.457V11.458H13.5404V17.708ZM13.5404 9.37467H11.457V7.29134H13.5404V9.37467Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_513_29001">
          <rect width="25" height="25" fill="white"/>
          </clipPath>
          </defs>
          </svg>
      </p>
    </span>

    <p class="flex text-[16px] font-normal">Are you sure to delete the user ?</p>

    <span class="flex w-full justify-end items-center mt-10">
      <span class="flex justify-between items-center gap-5">
        <p (click)="deleteUser(deleteUserName,deleteUserRole)" class="cursor-pointer flex px-10 py-2.5 bg-[#D30000] text-white border-2 border-[#D30000] rounded-md ">Delete</p>
        <p (click)="deleteUserPopUp()" class="cursor-pointer flex px-10 py-2.5 border-2 rounded-md border-[#D30000] text-[#D30000]">Cancel</p>
      </span>
    </span>
  </div>
 </div>





